#pragma once

namespace example
{
  class NewExample {
  public:
    NewExample();
    ~NewExample();

    void run();
  private:
    // MANUAL SECTION START: custom-variables
    // MANUAL SECTION END
  };
} // namespace example
